.card{
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10% auto;
}

.card img{
  width: 100%;
  border-radius: 6px;
  margin-bottom: 12px;
}

.cardLight{
  background-color: #ecf0f1;
  color: #2c3e50;
}

.cardDark{
  color: #ecf0f1;
  background-color: #2c3e50;
}